/* Mobile-first! */

html {
  font-size: 62.5%;
}

body {
  color: white;
  font-family: sans-serif;
  margin: 1rem;
}

header,
nav,
section,
article,
aside,
footer {
  padding: 1rem;
}
section p {
  margin-block-end: 1rem;
}

header {
  background-color: #df1227;
}

nav {
  background-color: #f28f2d;
}

section {
  background-color: #fec000;
  float: left;
  width: 50%;
}

article {
  background-color: #7ac141;
  margin-block-end: 1rem;
}

aside {
  background-color: #016fb4;
  float: right;
  width: 50%;
}

footer {
  background-color: #932b8e;
  clear: both;
}

/* Käytetään flexiä section- ja aside-elementtien saamiseksi rinnakkain */
/* Sääntö vanhempaan */
.lapset-rinnakkain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* '' merkkaa kaikille ja '>' merkkaa ko. vanhemman lapsille */
/* Sääntö lapsille */
.lapset-rinnakkain > * {
  flex-basis: 100%;
  flex-grow: 1;
}

/* Säännöt mobiilia suuremmille näytöille  */
@media only screen and (min-width: 426px) {
  .lapset-rinnakkain .tama-rinnakkain {
    flex-basis: 0;
  }
}
